.card {
    border-radius: 10px;
}

.button {
    right: 20px;
}

.input {
    cursor: pointer;
}

/* .disable {
    position: relative;
} */

.disabled label {
    text-decoration: line-through;
}

/* .disable::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.244);
    border-radius: 10px;
} */

.btn{
    font-size: 20px;
}